.ck.ck-character-counter {
  margin-left: auto !important; /* Pushes the counter to the right */
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  color: #666 !important;
  font-size: 12px;
  padding: 0 10px !important;
  pointer-events: none;
}

.ck.ck-character-counter.ck-character-counter--over-limit {
  color: #d92626 !important;
  font-weight: bold;
}

/* Обеспечиваем, чтобы счетчик был всегда в конце тулбара */
.ck.ck-toolbar__items > .ck.ck-character-counter {
  order: 999 !important; 
}